<i class="fa fa-arrow-circle-left fa-2xl" aria-hidden="true" [routerLink]="['']"></i>
<div class="headline-wrap">
    <h3>{{singleCountry.country}}</h3>
    <div class="divider-wrap">
        <div class="custom-style">
            <p>number of entries</p>
            <h4>{{singleCountry.participations.length}}</h4>
        </div>
        <div class="custom-style">
            <p>Total number medals</p>
            <h4>{{singleCountry.medalsAmount}}</h4>
        </div>
        <div class="custom-style">
            <p>Total number of athletes</p>
            <h4>{{singleCountry.allAthletes}}</h4>
        </div>
    </div>
</div>
<app-line-chart></app-line-chart>