/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

.headline-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider-wrap{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.custom-style{
    width: 30%;
    border: 2px solid #04838f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
    justify-content: space-around;
}
h3{
    background-color: #04838f;
    padding: 1.5%;
    color: white;
    border-radius: 10px;
}
h4,p{
    margin: 0;
}